streamlit
numpy
pandas
scipy
scikit-learn==1.3.2
matplotlib
seaborn
xgboost
boto3
plotly

# for timeseries data analysis
yfinance

# for nlp
bs4
selectorlib

# for predictive models
statsmodels

# for deep learning
tensorflow
keras

# for nlp
spacy==2.3.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
nltk
langdetect
gensim==3.8.3
wordcloud

# for trading
python-binance
pandas_ta

# for graph
# networkx
pyvis
networkx
graphviz